h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}
h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
}
p{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
a {
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
}
.container2{
    background: #DCEAF5; ;
}
.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    text-transform: capitalize;
    color: #F58A07;
}
.txt{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;

}
.flx{
    display: flex;
}
/*start header section */
.section-header-text-buttun a{
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;;
    padding: 18px 32px 19px 32px; 
    color: #fff;
    
}
.section-header-text-buttun-1 a {
    
    background: #F58A07;
}
.section-header-text-buttun-1 a:hover{
    background: #cf7507;

}
.section-header-text-buttun-2 a {
    background: none;
    color: #1D3444;
    margin-left: 6px;


}
.section-header-text-buttun-2 a:hover{
    color: #5B5B5B;
}



.section-header-text{
    margin: auto 0;
    padding-bottom: 30px;
}
.section-header-text-h1 h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.03em;
    color: #1D3444;

}
.section-header-text-p p{
    margin-top: 12px;
    margin-bottom: 50px;
}

.section-header-text-aftertxt p{
    font-weight: 400; 
    margin-top: 75px;
    margin-bottom: 18px;

}
.section-header-text-logo{
    position: absolute; 
    margin-bottom: 4px;
}
.section-header-text-logo1{
    margin-right: 45px;
}
.section-header-text-logo2{
    margin-right: 48px;
}
/* end header section */

/* help section start */
.help-section{
    margin-top: 83px;
    margin-bottom: 96px;
}
.help-section-text{
    padding-right: 600px;
}
.help-section-text p{
    margin-top: 24px;
    margin-bottom: 64px ;
}
/* end help section */

/* feature-section start */
.features-section{
    padding: 96px 0 ;
}
.features-section-text{
    gap: 40px;
}
.features-section-text-p p{
 margin-top: 5px;   
}
.feature-section-card{
    gap: 38px;
    margin-top: 64px ;
}
.feature-section-card1{
    width: 401px;
    background: #fff;
    border-radius: 20px;
    padding: 48px 26px 37px 39px;
}
.feature-section-card-h2 h2{
    margin-top: 32px;
    margin-bottom: 16px;
}
/* end feature section */

/* start about section */
.about-section{
    margin: 96px 0 ;
}
.about-section-text{
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.about-section-image{
    border-radius: 20px;
}
.about-section-text-feature{
   
    padding-right: 26px;
}
.about-section-text-feature1{
    margin-right: 26px;
}
.about-section-text-p p{
    margin-bottom: 48px;
    margin-top: 32px;
    padding-right: 100px;

}
.about-section-text-feature1-number{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
}
.about-section-text-feature1-h2 h2{
    padding-top: 32px;
    padding-bottom: 16px;
}
/* end about section */

/* start service section */
.service-section{
    background: #EDF7FF;
    border-radius: 20px;

}
.ribbon-img{
    position: relative;
   
}
.ribbon-img img{
    position: absolute;
   left: 1116px;
}
.service-section-tab{
    padding-top: 48px;
    gap: 24px;
    margin: 80px;
    width: 580px;}

.service-section-2{
    margin: 80px;
}
.service-section-2-text{
    margin-right: 140px;
     
}
.service-section-2-text p{
    margin-top: 25px ;
    margin-bottom: 40px;

}
.service-section-2-img{
    padding-bottom: 48px;
}

.service-section-tab a {
    padding: 8px 24px;
    border-radius: 31px;
    background: #FFFFFF;
    border: 1px solid #fff;
}
.service-section-tab1 a:hover{
    background: #f5b76c;
    color: #fff;
    transition: 0.5 all;
}
.service-section-tab2 a{
    color: rgba(6, 50, 85, 0.3);
    border-radius: 31px;
    
    padding: 8px 24px;
    border: 1px solid rgba(6, 50, 85, 0.3);
   
}
.service-section-tab2 a:hover{
    
    border: 1px solid #f58a07;
}


.service-section-2-text a{
    color: #F58A07;
}
.service-section-2-text a:hover{
    color: orange;
}
.service-section-2-text a::after {
    content: '→';
    margin-left: 8px;
    transform: scale(1);
}

.service-section-2-text a:hover:after {
    content: '→';
    margin-left: 16px;
    transition: 300ms;
}
/* end service-section */
/* start cta-section */

.cta-section{
    background-image: url(./images/experience-image.png);
    background-size: cover;
    width: 50%                                                                                      

    
}

.cta-section-img{
    width: 50%;
    
}
.cta-section-text{
    background: #f58a07; 
    width: 50%;
     padding: 128px 300px 128px 128px; 
} 
.cta-section-text h1{
     width: 532px; 
    color: #fff;
} 
.cta-section-text-buttun a{
    border-radius: 31px;
    background: #fff;
    padding: 19px 32px 18px 32px;
}
.cta-section-text-buttun{
    margin-top: 40px;
}
.cta-section-text-buttun a:hover{
    color: #fff;
    border: 1px solid #fff;
    background: #f5b76c;
}
/* ens cta-section */

/* Start video-section */
.video-section {
    margin-top: 166px;
}

.video-section6-text {
    margin-right: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.video-section6-text-p p {
    margin: 24px 0;
    padding-right: 50px;
}

.video-section6-img img {
    border-radius: 20px;
}

.video-section6-img {
    margin-left: 40px;
    /* position: relative; */
    filter: grayscale(100%);
}

.video-section6-img:hover {
    filter: grayscale(0);
    transition: 0.5s all;
    transform: scale(1.05 1.05);
}

.video-section6-icon a img {
    position: absolute;
    left: 40px;
    bottom: 40px;
    padding-right: 20px;
}

.video-section6-icon a img:hover {
    background: #F58A07;
    transition: 0.1s all;
}

.video-section6-text-person-text {
    align-items: center;
    margin-left: 24px;
    margin-bottom: auto;
    margin-top: auto;
    font-weight: 500;
    line-height: 171%;
}

.video-section6-text-person-name h3 {
    font-size: 24px;
    color: #063255;
}

.video-section6-text-person-career a {
    font-size: 18px;
    color: #F58A07;
}

/* end video-section */